
<div class="container">
<h2 class="heading">UPDATE VENDOR DETAILS</h2>
<form #uf="ngForm" (ngSubmit)="updateVendor(uf)" class="form-horizontal">
<div class="form-group">
	  <label class="control-label col-sm-2" for="id">Vendor Id : </label>
	  <div class="col-sm-4">
	  <input  required ngModel name="id" id="id" #id="ngModel" type="numeric" class="form-control" placeholder="Enter vendor id">
	  <div class="alert alert-danger" *ngIf="id.touched && !id.valid">
	  <div *ngIf="id.errors.required">Vendor id is required.</div>
	  </div>
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label col-sm-2" for="name">Vendor Name : </label>
	  <div class="col-sm-4">
	  <input  required pattern= "[a-z * A-Z]*" ngModel name="name" id="name" #name="ngModel" type="text" class="form-control" placeholder="Enter vendor name">
	  <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
	  <div *ngIf="name.errors.required">Vendor name is required.</div>
	  <div *ngIf="name.errors.pattern">Vendor name should be of alphabetical characters only.</div>
	  </div>
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-sm-2"  for="category">Vendor Category : </label>
	  <div class="col-sm-4">
	  <input required  pattern= "[a-zA-Z]*" ngModel name="category" id="category" #category="ngModel"  type="text" class="form-control" placeholder="Enter vendor category" >
	  <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
	  	<div *ngIf="category.errors.required">Vendor category is required.</div>
	  	<div *ngIf="category.errors.pattern">Vendor category should be of alphabetical characters only.</div>
	  </div>
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-sm-2"  for="startDate">Start Date: </label>
	   <div class="col-sm-4">
	  <input required ngModel name="startDate" id="startDate" #sd="ngModel"  type="date" class="form-control" placeholder="Enter start date ">
	  <div class="alert alert-danger" *ngIf="sd.touched && !sd.valid">
	  	<div *ngIf="sd.errors.required">Start date is required.</div>
	  </div>
	  </div>
	</div>
	<div class="form-group">
	  <label  class="control-label col-sm-2" for="endDate">End Date: </label>
	  <div class="col-sm-4">
	  <input ngModel name="endDate" id="endDate" #ed="ngModel"  type="date" class="form-control" placeholder="Enter end date" >
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-sm-2"  for="resourceCount">Resource Count: </label>
	  <div class="col-sm-4">
	  <input required pattern= "[0-9]*" ngModel name="resourceCount" id="resourceCount" #rc="ngModel"  type="numeric" class="form-control" placeholder="Enter resource count">
	  <div class="alert alert-danger" *ngIf="rc.touched && !rc.valid">
	  	<div *ngIf="rc.errors.required">Resource count is required.</div>
	  	<div *ngIf="rc.errors.pattern">Resource count should be of numeric characters only.</div>
	  </div>
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-sm-2"  for="billRate">Bill Rate: </label>
	  <div class="col-sm-4">
	  <input required ngModel name="billRate" id="billRate" #br="ngModel"  type="numeric" class="form-control" placeholder="Enter bill rate">
	  <div class="alert alert-danger" *ngIf="br.touched && !br.valid">Bill rate is required.</div>
	  </div>
	</div>
	<div class="form-group">
	  <label  class="control-label col-sm-2" for="status">Status: </label>
	  <div class="col-sm-4">
	  <input required pattern= "[a-zA-Z]*" ngModel name="status" id="status" #status="ngModel"  type="text" class="form-control" placeholder="Enter status">
	  <div class="alert alert-danger" *ngIf="status.touched && !status.valid">
	   <div *ngIf="status.errors.required">Status is required.</div>
	  <div *ngIf="status.errors.pattern">Status should be of alphabetical characters only.</div>
	  </div>
	</div>
	</div>
	<div class="form-group">
	  <label  class="control-label col-sm-2" for="address">Address: </label>
	  <div class="col-sm-4">
	  <input required ngModel name="address" id="address" #address="ngModel"  type="text" class="form-control" placeholder="Enter address">
	  <div class="alert alert-danger" *ngIf="address.touched && !address.valid">Address is required.</div>
	  </div>
	</div>
	<div class="form-group">
	  <label  class="control-label col-sm-2" for="number1">Contact Number 1: </label>
	  <div class="col-sm-4">
	  <input required   minlength="10" ngModel name="number1" id="number1" #n1="ngModel"  type="text" class="form-control" placeholder="Enter contact number">
	  <div class="alert alert-danger" *ngIf="n1.touched && !n1.valid">
	  	 <div *ngIf="n1.errors.required">Contact number is required</div>
	  <div *ngIf="n1.errors.minlength">Contact number should be of minimum {{n1.errors.minlength.requiredLength}} characters</div>
	  </div>
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-sm-2" for="n2">Contact Number 2:</label>
	  <div class="col-sm-4">
	  <input minlength="10" ngModel name="number2" id="n2" #n2="ngModel"  type="text" class="form-control" placeholder="Enter contact number">
	  <div class="alert alert-danger" *ngIf="n2.touched && !n2.valid">
	  <div *ngIf="n2.errors.minlength">Contact number should be of minimum {{n2.errors.minlength.requiredLength}} characters</div>
	  </div>
	  </div>
	</div>
	<div class="form-group">
	  <label  class="control-label col-sm-2" for="remarks">Remarks: </label>
	  <div class="col-sm-4">
	  <input ngModel id="remarks" name="remarks" type="text" class="form-control" placeholder="Enter remarks">
	  </div>
	</div>
	<div class="form-group">
	  <label  class="control-label col-sm-2" for="ratings">Ratings: </label>
	  <div class="col-sm-4">
	  <input required  pattern="[1-5]+" ngModel name="ratings" id="ratings" #ratings="ngModel"  type="number" class="form-control" placeholder="Enter ratings">
	  <div class="alert alert-danger" *ngIf="ratings.touched && !ratings.valid">
	  		<div *ngIf="ratings.errors.required">Ratings is required.</div>
	  	<div *ngIf="ratings.errors.pattern">Ratings should be between 1 and 5.</div>
	  </div>
	  </div>
	</div>
	<div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!uf.valid" >Submit</button>
        <button type="reset" class="btn btn-primary">Reset</button>
      </div>
    </div>
</form>
</div>